<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/newUserDetails" method="GET">
        <h1>Create User</h1>
        <p>Username</p>
        <input type ="text" id="username" name="username"/>
        <p>Password</p>
        <input type="text" id="password" name="password"/>
        <br>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>